:root {
  /* BRAND */
  --brand-light: #f67841;
  --brand-mid: #f3541c;
  --brand-dark: #e43a12;

  /* TEXT */
  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #e43a12;

  /* SURFACE */
  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;

  /* STROKE */
  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;

  /* SEMANTIC */
  --semantic-error: #dc2626;

  /* SUPPORTING */
  --orange: #f9a474;
  --yellow: #fedf6f;
  --green: #c7d78d;
  --blue: #b8cedc;
  --violet: #c3b2e7;
  --pink: #f682a5;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading1 {
  font-size: 2.5rem;
  line-height: 125%;
  font-weight: 600;
  color: var(--text-primary);
}
.heading2 {
  color: var(--text-primary);
  font-size: 1.5rem;
  line-height: 125%;
  font-weight: 600;
}
.heading3 {
  font-size: 1.25rem;
  line-height: 120%;
  font-weight: 700;
}
.text-md {
  color: var(--text-primary);
  font-size: 1rem;
  line-height: 125%;
  font-weight: 600;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 140%;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  color: var(--text-secondary);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

@media (width <= 48em) {
  .heading2 {
    font-size: 1.25rem;
  }
}
