#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;

  height: 100vh;

  overflow: hidden;
}

main {
  overflow: auto;
  padding: 4rem;

  & .main-container {
    max-width: 33rem;
    margin-left: auto;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  & h2 {
    margin-block: 1.5rem 0.5rem;
  }
}

@media (width <= 48em) {
  #app {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
  }
  main {
    overflow: initial;
    margin-inline: auto;
    padding: 1.5rem;
  }
}
